.task-btn-container {
  position: relative;
  width: 110%;
  height: fit-content;
}

.task-container {
  display: flex;
  margin-bottom: 7px;
  width: 90%;
}

p {
  margin-top: 3px;
  font: 16px Arial, Helvetica, sans-serif;
  padding-bottom: 2px;
  width: 80%;
}
