*{
  margin: 0;
  padding: 0;
}

.input-btn-container {
  display: flex;
  position: relative;
  width: 100%;
}

.input {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  font: 16px Arial, Helvetica, sans-serif;
  height: 30px;
  margin-left: 30px;
}